/* Tabs*/


section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#tabs{
    color: #000000;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: #eeeeee;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #364983;
}

.tombol{
    padding: 0 7px 0 ;
}

.tombol a{
    margin-right: 20px;
    word-wrap: break-word;
}

.tombol i{
    margin-right: 8px;
}

.tombol p{
    font-size: 16px;
}

